<a href="https://colab.research.google.com/github/vivian-Bichii/python_experience/blob/main/Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
def add_three(input_var):
    output_var = input_var + 3
    return output_var

new_number = add_three(10)   
print(new_number)

13

In [ ]:
def first_name(input_var):
    output_var = "Hello " + input_var
    return output_var

name_1 = first_name("Vivian")
print(name_1)

Hello Vivian

In [9]:
def pay_check(input_hrs):
    pay_pretax = input_hrs * 15
    pay_posttax = pay_pretax * (1-0.12)
    return pay_posttax

payment = pay_check(40)
print(payment)

528.0

In [7]:
def payment(hours, pay, tax):
      pre_tax = hours * pay
      post_tax = pre_tax * (1 - tax)
      return post_tax

final_pay = payment(40, 24, 0.22)
print(final_pay)

748.8000000000001

In [8]:
x = 6
print(x)
print(type(x))

6
<class 'int'>

In [11]:
y = 3.1415927
print(y)
print(type(y))

y1=22/7
print(y1)
print(type(y1))

3.1415927
<class 'float'>
3.142857142857143
<class 'float'>

In [12]:
rounded_y1 = round(y1, 5)
print(rounded_y1)
print(type(rounded_y1))

3.14286
<class 'float'>

In [16]:
trial_1 = True
print(trial_1)
print(type(trial_1))

True
<class 'bool'>

In [19]:
trial_2 = False
print(trial_2)
print(type(trial_2))

False
<class 'bool'>

In [20]:
trial_3 = 3 < 5
print(trial_3)
print(type(trial_3))

True
<class 'bool'>

In [21]:
trial_4 = 4 > 8
print(trial_4)

False

In [22]:
try_1 = "Hello, Vivian!"
print(try_1)
print(type(try_1))
len(try_1)

Hello, Vivian!
<class 'str'>

14

In [25]:
h_1 = '3.1415'
type(h_1)
h_11 = float(h_1)
type(h_11)

float

In [32]:
print("Vivian " + "Jebichii")
print((" Vivian! " + "You got this!" ) * 3)

Vivian Jebichii
 Vivian! You got this! Vivian! You got this! Vivian! You got this!

In [3]:
#conditions and conditional statements
var_1 = 1
var_2 = 2

print(var_1 < 1)
print(var_2 >= var_1)

False
True

In [9]:
#'if' statements
#using human body temperature
def temp_evaluation(temp):
    output = "Normal Body Temperature"
    if temp > 38:
        output = "Fever!"
    return output

print(temp_evaluation(37))
print(temp_evaluation(39))

Normal Body Temperature
Fever!

In [11]:
#'if..else' statements
def temp_evaluation_2(temp_2):
    if temp_2 > 38:
        output = "Fever!"
    else:
        output = "Normal Temperature" 
    return output

print(temp_evaluation_2(37))            
print(temp_evaluation_2(39))

Normal Temperature
Fever!

In [13]:
#'if..elif..else' statement
def temp_evaluation_3(temp_3):
    if temp_3 > 38:
        output = "Fever!"
    elif temp_3 > 35:
        output = "Normal Temperature"    
    else:
        output = "Low Temperature!"
    return output

print(temp_evaluation_3(39))
print(temp_evaluation_3(35)) 
print(temp_evaluation_3(37))

Fever!
Low Temperature!
Normal Temperature

In [19]:
#calculations using 'if..else'
def net_pay(salary):
    if salary > 12000:
       output = salary * (1-0.30) 
    else:
       output = salary * (1-0.25)  
    return output


nelly_salary = net_pay(14000)
john_salary = net_pay(10000)

print(nelly_salary)
print(john_salary)

9800.0
7500.0

In [22]:
#lists
cooking_equip = ["Cooker" , "Oven" , "Microwave" , "Toaster" , "Cooking pots" , "Pan" , "Mixer" , "Frier" , "Roller" ]

print(type(cooking_equip))
print(cooking_equip)

#length of list
print(len(cooking_equip))

#indexing
print("First entry:" + cooking_equip[0])
print("Second entry:" + cooking_equip[1])
print("Last entry:" + cooking_equip[8])

<class 'list'>
['Cooker', 'Oven', 'Microwave', 'Toaster', 'Cooking pots', 'Pan', 'Mixer', 'Frier', 'Roller']
9
First entry:Cooker
Second entry:Oven
Last entry:Roller

In [23]:
#slicing
print("Firts three segments:" , cooking_equip[:3])
print("Last two segments:" , cooking_equip[-2:])

Firts three segments: ['Cooker', 'Oven', 'Microwave']
Last two segments: ['Frier', 'Roller']

In [24]:
#Removing Items
cooking_equip.remove("Mixer")


#Adding Items
cooking_equip.append("Refrigerator")

In [30]:
#Lists for data sets
#let x be the number of people in websites 
x = [139 , 188 , 170, 107 , 194 , 108 , 189 , 274 , 317 , 299]

print("Legth of data:" , len(x))
print("People in website 2:" , x[1] )

Legth of data: 10
People in website 2: 188

In [32]:
#Obtaining maximum and minimum
print("Maximum:" , max(x))
print("Minimum:" , min(x))

Maximum: 317
Minimum: 107

In [33]:
#Summing the dataset
print("Sum of people in websites:" , sum(x))

Sum of people in websites: 1985

In [34]:
#Averaging
#An average users for the first 6 websites
print("Average of the first five websites:" , (sum(x[:5])/5))

Average of the first five websites: 159.6